@media screen and (width<= 1200px) {
    .adminContainer {
      overflow: auto;
    }
}

@media screen and (width<= 1100px) {
    .adminContainer {
      grid-template-columns: 1fr !important;
    }
}



@media (max-width: 768px) {
  .adminContainer {
    display: flex;
    flex-direction: column;
  }
}
